body,html{
    height: 100%;
    margin: 0;
    background-color: #f3f6ff;
    font-family: helvetica, arial, sans-serif;
    /* background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
}

.logo{
    background-color: #e8c3b9;
    height: 100%;
    border-radius: 20px;
}

.logo-style{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-word{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 1em;
    font-weight: 800;
    font-size: 5em;
    display: block;
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    border: none;
    /* background-color: rgba(0,0,0,0.6) !important; */
    background-color: white;
}

.contact-circle{
    content: attr(title);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
}

.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    /* border-radius: 15px 15px 0 0 !important; */
    border-bottom: 0 !important;
}
.card-header span{
    font-size: 30px;
    display: inline-block;
    padding-top: 7px;
}

.create-meeting{
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
}

.create-meeting span{
    font-size: 25px;
    margin: auto;
}

.icon-box{
    display: inline-block; 
    background-color: #e3e9fd;
    margin: 5px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
}

.icon-box2{
    /* display: inline-block;  */
    background-color: #e3e9fd;
    margin: auto;
    border-radius: 40px;
    height: 80px;
    width: 80px;
    text-align: center;
}

.align-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.new-chat{
    display: grid;
    height: 30%;
    width: 30%;
    /* justify-content: center; */
}

.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
/* .search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
} */
.type_msg{
    background-color: white;
    border:0 !important;
    color:black;
    /* height: 60px !important; */
    overflow-y: auto;
    border-radius: 10px;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}

.send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 8px 5px 8px;
    /* margin-bottom: 15px !important; */
}
/* .active{
    background-color: rgba(0,0,0,0.3);
} */

.list-button :focus{
    background-color: rgba(0,0,0,0.3);
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}

.user_info_header{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    overflow: hidden;
    /* margin-left: 15px; */
}
.user_info_header span{
    font-size: 20px;
    /* color:rgba(0,0,0,0.6) !important; */
    color: black;
}
.user_info_header p{
    margin-top: 2px;
    font-size: 10px;
    color:rgba(0,0,0,0.6) !important;
}
    
.user_info{
    margin-top: auto;
    margin-bottom: auto;
/* margin-left: 15px; */
}
.user_info span{
    font-size: 30px;
    color:black;
}
.user_info p{
    font-size: 10px;
    display: inline-block;
    /* color: rgba(255,255,255,0.6); */
}

.room_join_button{
    margin-top: 15px !important;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px !important;
}

.video_cam{
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #f36bab;
    color: white;
    padding: 10px;
    position: relative;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #2154be;
    color: white;
    padding: 10px;
    position: relative;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_head{
    position: relative;
}

#action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}
.action_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i{
    padding-right: 10px;
}

.action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.list-button{
    width: 100% !important;
}

.list-button .user_info span{
    color: rgba(0,0,0,.6);
}

.list-button .user_info p{
    color: rgba(0,0,0,.6);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 576px){
.contacts_card{
    margin-bottom: 15px !important;
}
}
