<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtue</title>
</head>
<body>
    <div>
        <h3>Hi</h3>
        <p>You have been invited by {{username}} to join {{room}} on virtue. Please click on the this <a href="{{link}}">link</a>.</p>
        <p>Incase you face any trouble joining the call through the link. You can simply go to virtue.tk and enter your email address. You will find the room listed there.</p>
    </div>
</body>